<div class="row mx-auto my-auto">
    <div class="col-12 w-75 mx-auto mt-3 mb-1">
        <div class="card mx-5 shadow-lg p-3 mb-1 bg-body rounded w-auto">
            <h5 class="d-block mx-auto text-center">Centro de Mensajes</h5>
            <div id="mostrarMensajes">
            </div>
        </div>
    </div>
</div>
    