<div class="main-container-client">
    <div class="cards-wrapper-client">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6 g-4">
            <div class="card-group col-12 w-100 mx-auto my-4" id="mostrarClientes">
            </div>
        </div>
            <div id="pagination"></div>
    </div>
</div>