<div class="main-container-consumibles">
    <div class="cards-wrapper-consumibles">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6 g-4">
            <div class="card-group col-12 w-100 mx-auto my-4" id="mostrarConsumibles">
            </div>
        </div>
        <div id="paginationConsumibles"></div>
    </div>
</div>