<div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="card mx-auto shadow p-1 mt-4 mb-4 bg-body rounded w-auto table-responsive">
            <div id="loading-spinner" class="mt-2" style="display: none;">
                <%- include('../../partials/spinners/spinner_1'); %>
                <p>Cargando...</p>
            </div>

            <table id="cuttingToolTable" class="table-responsive table-hover align-middle" style="font-size: 10pt; display: none;">
                <caption id="capCuttingToolList"></caption>
                <thead class="border-bottom">
                    <tr>
                        <th style="width:6vw" scope="col-1" class="text-center"> Id </th>
                        <th style="width:6vw" scope="col-1" class="text-center"> Código </th>
                        <th style="width:6vw" scope="col-1" class="text-center"> Tipo </th>
                        <th style="width:6vw" scope="col-1" class="text-center"> Ø </th>
                        <th style="width:9vw" scope="col-1" class="text-center"> Designación </th>
                        <th style="width:8vw" scope="col-1" class="text-center"> Características </th>
                        <th style="width:8vw" scope="col-1" class="text-center"> Imagen </th>
                        <th style="width:6vw" scope="col-1" class="text-center"> Stock </th>
                        <th style="width:7vw" scope="col-1" class="text-center"> Status </th>
                        <th style="width:7vw" scope="col-1" class="text-center"> Creado por </th>
                        <th style="width:7vw" scope="col-1" class="text-center"> Fecha </th>
                        <th style="width:7vw" scope="col-1" class="text-center"> Modif. por </th>
                        <th style="width:7vw" scope="col-1" class="text-center"> Fecha modif. </th>
                        <th style="width:10vw" scope="col-2" class="text-center"> Acciones </th>
                    </tr>
                </thead>
                        <tbody id="mostrarHerramientas">
                        </tbody>
            </table>
        </div>
</div>