<div id="projectTableSearch" class="card mx-2 my-2 text-center rounded d-none">
    <div id="showCountProjectSearch"
        class="row row-cols-1 my-1 justify-content-evenly">
    </div>
    
    <div class="mx-auto p-1 my-2 rounded w-auto table-responsive">
        <table class="table-responsive align-middle border-bottom mx-auto" style="font-size: 10pt; --bs-border-opacity: .05; overflow-x: hidden;">
            <thead id="theadSearchTable" class="border-bottom">
                <tr>
                    <th style="width:4vw" scope="col-1" class="text-center"> Codigo </th>
                    <th style="width:9vw" scope="col-1" class="text-center"> Nombre </th>
                    <th style="width:8vw" scope="col-1" class="text-center"> Imagen </th>
                    <th style="width:8vw" scope="col-1" class="text-center"> Cliente </th>
                    <th style="width:5vw" scope="col-1" class="text-center"> Prio </th>
                    <th style="width:6vw" scope="col-1" class="text-center"> Nivel </th>
                    <th style="width:9vw" scope="col-1" class="text-center"> Descripción </th>
                    <th style="width:7vw" scope="col-1" class="text-center"> Alias </th>
                    <th style="width:5vw" scope="col-1" class="text-center"> OCI </th>
                    <th style="width:5vw" scope="col-1" class="text-center"> OT </th>
                    <th style="width:5vw" scope="col-1" class="text-center"> OP </th>
                    <th style="width:12vw" scope="col-1" class="text-center"> Descripción de Op </th>
                    <th style="width:8vw" scope="col-1" class="text-center"> Fecha </th>
                    <th style="width:7vw" scope="col-1" class="text-center"> Acciones </th>
                </tr>
            </thead>
                <tbody id="showProjectSearch">
                </tbody>
        </table>
    </div>
</div>