<div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="table-responsive mx-auto shadow p-1 mt-4 mb-4 bg-body rounded w-auto">
            <div id="loading-spinner" class="mt-2" style="display: none;">
                <%- include('../../partials/spinners/spinner_1'); %>
                <p>Cargando...</p>
            </div>

            <table id="consumiblesTable" class="table-responsive table-hover align-middle" style="font-size: 10pt; display: none; overflow-x: hidden;">
                <caption id="capConsumiblesList"></caption>
                <thead class="border-bottom">
                    <tr>
                        <th style="width:4vw" scope="col-1" class="text-center"> Sel. </th>
                        <th style="width:6vw" scope="col-1" class="text-center"> Código </th>
                        <th style="width:10vw" scope="col-1" class="text-center"> Tipo </th>
                        <th style="width:18vw" scope="col-1" class="text-center"> Designación </th>
                        <th style="width:18vw" scope="col-1" class="text-center"> Características </th>
                        <th style="width:10vw" scope="col-1" class="text-center"> Imagen </th>
                        <th style="width:7vw" scope="col-1" class="text-center"> U/T/N </th>
                        <th style="width:7vw" scope="col-1" class="text-center"> Límite por Usuario </th>
                        <th style="width:6vw" scope="col-1" class="text-center"> Stock </th>
                        <th style="width:6vw" scope="col-1" class="text-center"> Estado </th>
                        <th style="width:8vw" scope="col-2" class="text-center"> Acciones </th>
                    </tr>
                </thead>
                        <tbody id="mostrarConsumibles">
                        </tbody>
            </table>
        </div>
</div>