<div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="mx-auto shadow p-1 mt-4 mb-4 bg-body rounded w-auto table-responsive">
            <div id="loading-spinner" class="mt-2" style="display: none;">
                <%- include('../../partials/spinners/spinner_1'); %>
                <p>Cargando...</p>
            </div>
            <table id="miTabla" class="table-responsive align-middle border-bottom" style="font-size: 10pt; --bs-border-opacity: .05; display: none;">
                <caption id="capProjectsList"></caption>
                <thead class="border-bottom">
                    <tr>
                        <th style="width:4vw" scope="col-1" class="text-center"> Codigo </th>
                        <th style="width:9vw" scope="col-1" class="text-center" data-column="nombre" data-order="asc"> Nombre <button id="nombre" onclick="sortTable('nombre')" name="orden" class="btn btn-sm btn-light ms-1" value="nombre"> <i class="fa-solid fa-sort-alpha-asc" aria-hidden="true"></i> </button> </th>
                        <th style="width:8vw" scope="col-1" class="text-center"> Imagen </th>
                        <th style="width:8vw" scope="col-1" class="text-center" data-column="cliente" data-order="asc"> Cliente <button id="cliente" onclick="sortTable('cliente')" name="orden" id="cliente" class="btn btn-sm btn-light ms-1" value="cliente"> <i class="fa-solid fa-sort-alpha-asc" aria-hidden="true"></i> </button></th>
                        <th style="width:5vw" scope="col-1" class="text-center" data-column="prio" data-order="asc"> Prio <button id="prio" onclick="sortTable('prio')" name="orden" id="prio" class="btn btn-sm btn-light ms-1" value="prio"> <i class="fa-solid fa-sort-amount-asc" aria-hidden="true"></i> </button> </th>
                        <th style="width:6vw" scope="col-1" class="text-center" data-column="nivel" data-order="asc"> Nivel <button id="nivel" onclick="sortTable('nivel')" name="orden" id="nivel" class="btn btn-sm btn-light ms-1" value="nivel"> <i class="fa-solid fa-sort-alpha-asc" aria-hidden="true"></i> </button></th>
                        <th style="width:9vw" scope="col-1" class="text-center"> Descripción </th>
                        <th style="width:7vw" scope="col-1" class="text-center"> Alias </th>
                        <th style="width:5vw" scope="col-1" class="text-center" data-column="oci" data-order="asc"> OCI <button id="oci" onclick="sortTable('oci')" name="orden" class="btn btn-sm btn-light ms-1" value="oci"> <i class="fa-solid fa-sort-amount-asc" aria-hidden="true"></i> </button> </th>
                        <th style="width:5vw" scope="col-1" class="text-center"> OT </th>
                        <th style="width:5vw" scope="col-1" class="text-center"> OP </th>
                        <th style="width:12vw" scope="col-1" class="text-center"> Descripción de Op</th>
                        <th style="width:8vw" scope="col-1" class="text-center" data-column="fecha" data-order="asc"> Fecha <button id="fecha" onclick="sortTable('fecha')" name="orden" class="btn btn-light ms-1" value="fecha"> <i class="fa-solid fa-sort-amount-asc" aria-hidden="true"></i> </button> </th>
                        <th style="width:7vw" scope="col-1" class="text-center"> Acciones </th>
                    </tr>
                </thead>
                        <tbody id="mostrarProyectos">
                        </tbody>
            </table>
        </div>
</div>