<div class="row mx-auto my-auto">
    <div class="col-12 w-75 mx-auto mt-3 mb-1">
        <div class="card mx-5 shadow-lg p-3 mt-4 mb-1 bg-body rounded w-auto">
            <h5 class="d-block mx-auto text-center">Centro de Mensajes</h5>
            <div id="loading-spinner" class="mx-auto mt-2" style="display: none;">
                <i class="fa fa-spinner fa-pulse" style="font-size: 3rem;"></i>
                <p>Cargando...</p>
            </div>
            <div id="mostrarMensajes" style="display: none;">
            </div>
        </div>
    </div>
</div>
    