<div class="container-graphs mx-auto my-2 text-center">
    <div id="showCountConsumoItemsSearch" class="row align-items-center justify-content-center mb-1"></div>
    <div id="showConsumoItemsSearch" class="row row-cols-1 g-4 justify-content-evenly"></div>
</div>