@charset "UTF-8";  

/* ------ reseteo navegador ---------------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  /* Sections
     ================================================ */
  
  /**
   * Remove the margin in all browsers.
   */

body {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: .875rem;
  color: #71748d;
  background-color: #F5F7FA; /* #efeff6;*/
  /* -webkit-font-smoothing: antialiased; style="background-color: #F5F7FA;"*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #3d405c;
    margin: 0px 0px 15px 0px;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-size: 15px;
  color: #000 !important;
}

/*--------------------
 Padding / Margin
---------------------*/

.nopadding {
  padding: 0px;
}

.p-r-0 {
  padding-right: 0px;
}

.p-r-10 {
  padding-right: 10px;
}

.p-r-15 {
  padding-right: 15px;
}

.p-r-20 {
  padding-right: 20px;
}

.p-r-25 {
  padding-right: 25px;
}

.p-l-0 {
  padding-left: 0px;
}

.p-l-10 {
  padding-left: 10px;
}

.p-l-15 {
  padding-left: 15px;
}

.p-l-20 {
  padding-left: 20px;
}

.p-l-25 {
  padding-left: 25px;
}

.p-l-40 {
  padding-left: 40px;
}

.p-t-0 {
  padding-top: 0px;
}

.p-t-10 {
  padding-top: 10px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-t-30 {
  padding-top: 30px;
}

.p-t-40 {
  padding-top: 40px;
}

.p-t-60 {
  padding-top: 60px;
}

.p-t-70 {
  padding-top: 70px;
}

.p-t-80 {
  padding-top: 80px;
}

.p-t-100 {
  padding-top: 100px;
}

.p-t-120 {
  padding-top: 120px;
}

.p-t-140 {
  padding-top: 140px;
}

.p-b-0 {
  padding-bottom: 0px;
}

.p-b-10 {
  padding-bottom: 10px;
}

.p-b-20 {
  padding-bottom: 20px;
}

.p-b-30 {
  padding-bottom: 30px;
}

.p-b-40 {
  padding-bottom: 40px;
}

.p-b-60 {
  padding-bottom: 60px;
}

.p-b-80 {
  padding-bottom: 80px;
}

.p-b-100 {
  padding-bottom: 100px;
}

.p-b-120 {
  padding-bottom: 120px;
}

.p-b-140 {
  padding-bottom: 140px;
}

.m-r-0 {
  margin-right: 0px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-r-15 {
  margin-right: 15px;
}

.m-r-20 {
  margin-right: 20px;
}

.m-r-25 {
  margin-right: 25px;
}

.m-l-0 {
  margin-left: 0px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-l-15 {
  margin-left: 15px;
}

.m-l-20 {
  margin-left: 20px;
}

.m-l-25 {
  margin-left: 25px;
}

.m-t-0 {
  margin-top: 0px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-t-40 {
  margin-top: 40px;
}

.m-t-60 {
  margin-top: 60px;
}

.m-t-70 {
  margin-top: 70px;
}

.m-t-80 {
  margin-top: 80px;
}

.m-t-100 {
  margin-top: 100px;
}

.m-t-120 {
  margin-top: 120px;
}

.m-b-0 {
  margin-bottom: 0px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-b-40 {
  margin-bottom: 40px;
}

.m-b-50 {
  margin-bottom: 50px;
}

.m-b-60 {
  margin-bottom: 60px;
}

.m-b-80 {
  margin-bottom: 80px;
}

.m-b-100 {
  margin-bottom: 100px;
}

.m-b-120 {
  margin-bottom: 120px;
}


/*--------------------
  Font Weight
---------------------*/

html body .font-bold {
  font-weight: 800;
}

html body .font-normal {
  font-weight: 400;
}

html body .font-light {
  font-weight: 300;
}

html body .font-medium {
  font-weight: 600;
}

html body .font-16 {
  font-size: 16px;
}

html body .font-12 {
  font-size: 12px;
}

html body .font-14 {
  font-size: 14px;
}

html body .font-10 {
  font-size: 10px;
}

html body .font-18 {
  font-size: 18px;
}

html body .font-20 {
  font-size: 20px;
}

html body .font-22 {
  font-size: 22px;
}

html body .font-24 {
  font-size: 24px;
}

html body .display-5 {
  font-size: 3rem;
}

html body .display-6 {
  font-size: 2.5rem;
}

html body .display-7 {
  font-size: 2rem;
}

/* -----------------------
2.3  Cards
-------------------------*/

.card {
  min-width: 200px; /* Ancho mínimo para mantener legibilidad */
  max-height: max-content;
  max-width: 350px;
  transition: transform 0.3s ease;

  margin-bottom: 5px;
  margin-top: 12px;
  /* width: 20vw; */
  align-content: center;
  border: none;
  -webkit-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
  -moz-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
  box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.card-img-top {
  max-height: 150px;
  object-position: center;
  object-fit: contain;
}

.card_dashboard{
  width: 20vw;
}

.card_dashboard:hover{
  transform: scale(1.03);
  box-shadow: 10px 10px 15px rgba(0, 7, 71, 0.402);
}

.card-footer-client {
  border-top: 1px solid #e6e6f2;
  background: #fcfcff;
}

.footer_disabled {
  background: none;
}

.card-figure {
  position: relative;
  padding: 6px;
  border-radius: 3px;
}

.card-figure .figure {
  display: flex; /* Cambio de dirección a horizontal */
  align-items: center; /* Centrado vertical */
  justify-content: space-between;
  flex-direction: row; /* Cambiado a fila para alinear en la misma línea */
  margin-bottom: 0;
}

.card-figure .figure-caption {
  margin-right: auto; /* Alinea a la izquierda */
  font-size: .875rem;
  margin-top: 6px;
  color: inherit;
}

.card-title {
  font-size: clamp(0.8rem, 2vw, 1rem); /* Ajusta el tamaño entre 0.8rem y 1rem basado en el ancho del viewport */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden;
  text-overflow: ellipsis; /* Muestra puntos suspensivos si el texto es demasiado largo */
}

card-title-noEllipsis {
  font-size: clamp(0.8rem, 2vw, 1rem); /* Ajusta el tamaño entre 0.8rem y 1rem basado en el ancho del viewport */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden;
  /* Muestra puntos suspensivos si el texto es demasiado largo */
}

.figure-img {
  display: flex; /* Añadir flex para centrado */
  align-items: center;
  margin-left: auto; /* Alinea a la derecha */
}


.figure-title {
  margin: 0 0 .125rem;
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-figure.has-hoverable {
  -webkit-transition: -webkit-transform .2s, -webkit-box-shadow .2s;
  transition: -webkit-transform .2s, -webkit-box-shadow .2s;
  transition: transform .2s, box-shadow .2s;
  transition: transform .2s, box-shadow .2s, -webkit-transform .2s, -webkit-box-shadow .2s;
}

.card-figure.has-hoverable:focus,
.card-figure.has-hoverable:hover {
  -webkit-transform: translate3d(0, -.25rem, 0);
  transform: translate3d(0, -.25rem, 0);
  -webkit-box-shadow: 0 5px 15px 0 rgba(61, 70, 79, .15);
  box-shadow: 0 5px 15px 0 rgba(61, 70, 79, .15);
}

.figure-img .img-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: hsla(0, 0%, 100%, .96);
  opacity: 0;
  z-index: 2;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.card-figure:hover .img-link {
  opacity: 1;
  transform: scale(1.01);
  box-shadow: 10px 10px 15px rgba(0, 7, 71, 0.402);
  border-radius: 6px;
}

.figure-img .img-link .tile {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1rem;
  margin-left: -1rem;
}

.tile.bg-danger {
  color: #fff;
}

.tile-circle {
  border-radius: 4rem;
}

/*-----------------------
2.xxx Carousel-controls
-------------------------*/
.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2vw !important; /***Ancho de link***/
  height: 7vh !important; /***Alto de link***/
  padding: 0;
  color: #fff;
  text-align: center;
  background: none;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
} 

/*-----------------------
2.13 Badge
-------------------------*/

.badge {
  display: inline-block;
  padding: 3px 7px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}

.badge-primary {
  background-color: #5969ff;
}

.badge-primary[href]:focus,
.badge-primary[href]:hover {
  color: #fff;
  text-decoration: none;
  background-color: #4656e9;
}

.badge-brand {
  background-color: #ffb739;
  color: #2e2f39;
}

.badge-brand[href]:focus,
.badge-brand[href]:hover {
  color: #2e2f39;
  background-color: #efb63e;
  text-decoration: none;
}

.badge-secondary {
  background-color: #ff407b;
}

.badge-secondary[href]:focus,
.badge-secondary[href]:hover {
  color: #fff;
  background-color: #ff407b;
  text-decoration: none;
}

.badge-success {
  background-color: #21ae41;
}

.badge-success[href]:focus,
.badge-success[href]:hover {
  color: #fff;
  background-color: #21ae41;
  text-decoration: none;
}

.badge-danger {
  background-color: #da0419;
}

.badge-danger[href]:focus,
.badge-danger[href]:hover {
  color: #fff;
  background-color: #ef172c;
  text-decoration: none;
}

.badge-warning {
  background-color: #f3b600;
  color: #2e2f39;
}

.badge-warning[href]:focus,
.badge-warning[href]:hover {
  color: #2e2f39;
  background-color: #f3b600;
  text-decoration: none;
}

.badge-info {
  background-color: #0998b0;
}

.badge-info[href]:focus,
.badge-info[href]:hover {
  color: #fff;
  background-color: #17c0dc;
  text-decoration: none;
}

.badge-light {
  background-color: #efeff6;
  color: #757691;
}

.badge-light[href]:focus,
.badge-light[href]:hover {
  color: #2e2f39;
  background-color: #d7d7df;
  text-decoration: none;
}

.badge-dark {
  background-color: #1f202b;
}

.badge-light[href]:focus,
.badge-light[href]:hover {
  color: #2e2f39;
  background-color: #d7d7df;
  text-decoration: none;
}

/* .dashboard-badges {} */

.badge-dot {
  border-radius: 100%;
  padding: 4px;
  display: inline-block;
  margin-right: 3px;
}

/*-----------------------
Container / Wrapper
-------------------------*/

.dashboard-main-wrapper {
  min-height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.dashboard-wrapper {
  position: relative;
  left: 0;
  margin-left: 264px;
  min-height: 870px !important;
}

.dashboard-content {
  padding: 20px 20px 20px 20px;  /*30px 30px 60px 30px;*/
}

/*-----------------------
Splash Container / Wrapper
-------------------------*/

.splash-container {
  width: 100%;
  max-width: 385px;
  padding: 15px;
  margin: auto;
  margin-top: 100px;
}

.splash-container .card-header {
  padding: 20px;
}

.splash-description {
  text-align: center;
  display: block;
  line-height: 20px;
  font-size: 1.25rem;
  margin-top: 15px;
  padding-bottom: 20px;
}

.splash-title {
  text-align: left;
  display: block;
  font-size: 1rem;
  font-weight: 500;
}

.splash-container .card-footer-item {
  padding: 12px 28px;
  font-size: 1rem;
  font-weight: 500;
}


/*-----------------------
6.9 404 error
-------------------------*/

.error-section {
  padding: 4rem 0px;
}

.error-section-content {
  padding-top: 1rem;
  color: #3d405c;
  padding-bottom: 1.5rem;
}

  /*-------------------
7.4  Message Chat Module
----------------------*/

.chat-body {
  overflow: hidden;
}

.chat-module {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;

}
.chat-module {
    height: calc(25vh - 105px);
    background-color: #6c757d;
}

.dashboard-main-wrapper .content-container>.chat-module {
    overflow: hidden;
    padding: 1.5rem;
}

.chat-module .chat-module-body {
    width: 100%;
    position: absolute;
    top: 55px;
    height: calc(100% - 4rem);
    overflow-y: scroll;
    padding-right: 1.5rem;
    -ms-overflow-style: none;
}

.dashboard-main-wrapper .content-container>.chat-module .chat-module-body {
    width: 100%;
    padding-right: 0;
}

.chat-module .chat-module-top {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-height: calc(100% - 3.5rem);
    position: relative;
}

.avatar {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    border: 2px solid #F7F9FA;
    background: #F7F9FA;
    color: #fff;
}

.media-attachment {
    padding-left: 0.75rem;
    align-items: center;
    border-left: 4px solid #E9EEF2;
}

.chat-item .media-attachment {
    border-color: #dedee4;
}

.chat-item-author {
  color: #333;
  font-weight: 900;
}

.media-attachment:not(:first-child) {
    margin-top: 0.75rem;
}

.media-attachment div.avatar {
    border: none;
}

.avatar.bg-primary {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar.bg-primary i {
    font-size: 14px;
}

.media {
    display: flex;
    align-items: flex-start;
}

.chat-item {
    font-size: .95rem;
    line-height: 1.3125rem;
}

.dashboard-main-wrapper .content-container>.chat-module .chat-item {
    padding-bottom: 1.5rem;
}

.dashboard-main-wrapper .content-container>.chat-module .chat-item:not(:last-child) {
    border-bottom: 1px solid #e6e6f2;
}

.dashboard-main-wrapper .content-container>.chat-module .chat-item .media-body {
    background: none;
}

.chat-item>.media-body {
    margin-left: 0.75rem;
    border-radius: 0.5rem;
    padding: 6px 1px;
    background: transparent;
}

.media-body {
    flex: 1;
}

.chat-item+.chat-item {
    margin-top: 0.75rem;
}

.chat-item .chat-item-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.375rem;
}

.dashboard-main-wrapper .main-container {
    overflow: hidden;
    flex: 1;
}

.dashboard-main-wrapper .content-container {
    display: flex;
    height: calc(100vh - 3.5625rem);
}

.dashboard-main-wrapper .content-container>.chat-module .chat-item .media-body {
    padding: 0;
    background: none;
}

.media-attachment .media-body>a {
    display: block;
}

.media-attachment .media-body {
    margin-left: 0.75rem;
}

.chat-module .chat-module-bottom {
    position: relative;
    padding-top: 1rem;
    border-top: 1px solid #E9EEF2;
    background-color: #dbdbdb;
    /* background: #efeff6; */

}

.chat-form {
    position: relative;
    width: 70%;
}

.chat-module .chat-module-bottom textarea {
    max-height: 12rem;
}

.chat-form textarea {
    padding-right: 3.375rem;
    width: 88%;
}

.chat-form-buttons {
    position: absolute;
    top: 6px;
    right: 0.25rem;
    display: flex;
    align-items: center;
    width: 10%;
}

.chat-form-buttons button {
    padding: 0;
}

.chat-form-buttons .custom-file-naked {
    width: 1.5rem;
    margin-left: 0.375rem;
    top: 5px;
}

.custom-file-naked {
    cursor: pointer;
    width: auto;
    height: auto;
}

.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(2.125rem + 2px);
    margin-bottom: 0;
}

.custom-file-naked .custom-file-input {
    width: auto;
    height: auto;
    cursor: pointer;
}

.custom-file-naked .custom-file-label {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    height: auto;
    cursor: pointer;
}

.chat-form-buttons i {
    color: #6c757d;
    font-size: 1.5rem;
    cursor: pointer;
}

.custom-file-label::after {
    display: none;
}

.chat-sidebar {
    height: 100%;
    overflow: hidden;
    width: 384px;
    border-left: 1px solid #e6e6f2;
    display: flex;
    flex-direction: column;
    background: #fff;
}

.chat-sidebar-content {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.text-small {
    font-size: .875rem;
    line-height: 1.3125rem;
}

.chat-team-sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat-team-sidebar .chat-team-sidebar-top {
    padding: 1.5rem;
}

.align-items-center {
    align-items: center !important;
}

.chat-team-sidebar .nav {
    margin-top: 1.5rem;
}

.chat-team-sidebar .nav-tabs {
    border-radius: 4px;
    background: #EEF2F5;
}

.chat-team-sidebar .nav-tabs .nav-item {
    margin: .5rem;
}

.chat-team-sidebar .nav-tabs .nav-link:not(.active) {
    color: rgba(33, 37, 41, 0.5);
}

.chat-team-sidebar .nav-tabs .nav-link {
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    padding: 10px;
    transition: color .35s ease-out;
}

.chat-team-sidebar .chat-team-sidebar-bottom,
.chat-team-sidebar .chat-team-sidebar-bottom .tab-content {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chat-team-sidebar .chat-team-sidebar-bottom,
.chat-team-sidebar .chat-team-sidebar-bottom .tab-content {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chat-team-sidebar .tab-pane {
    overflow-y: none;
    -ms-overflow-style: none;
    height: 100%;
}

.chat-team-sidebar .list .list-group-item {
    width: 100%;
}

.sidebar form.dropzone {
    padding: 0 1.5rem;
}

form.dropzone {
    width: 100%;
    margin-bottom: 1.5rem;
}

.sidebar .dz-message {
    background: #F7F9FA;
    padding: 1rem;
}

.dz-message {
    text-align: center;
    padding: 1.5rem;
    display: block;
    font-size: .875rem;
    font-weight: 500;
    opacity: 1;
    cursor: pointer;
    border-radius: 0.5rem;
    background: #fff;
    border: 1px dashed #E9EEF2;
    transition: all .35s ease;
    color: rgba(108, 117, 125, 0.5);
}

.dropzone-previews {
    width: 100%;
}

.dz-file-representation img:not([src]) {
    display: none;
}

.dz-file-representation img {
    position: absolute;
    object-fit: cover;
}

.dz-preview .avatars li:last-child {
    transition: opacity .35s ease;
    opacity: 0;
}

.dz-loading {
    opacity: 1;
    transition: opacity .35s ease;
    position: absolute;
    left: 1.1875rem;
}

.list-group-activity .avatars {
    margin-right: 0.75rem;
    display: flex;
    align-items: center;
}

.list-group-activity span {
    margin-right: 0.25rem;
}

.list-group-activity .avatars>li:first-child {
    position: relative;
    z-index: 2;
}

.avatar {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    border: 2px solid #F7F9FA;
    background: #F7F9FA;
    color: #fff;
}

.avatars>li {
    display: inline-block;
}

.chat-team-sidebar .list-group-activity .avatar {
    border-color: #fff;
}

.avatars {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

.avatar.bg-primary {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatars>li+li {
    margin-left: -0.75rem;
}

.btn-options {
    color: #6c757d;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

/*********slider thumb************/
.drag__bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  /* width: 45px;
  height: 45px; */
  border-radius: 50%;
  background: #03bc12;
  cursor: pointer;
  box-shadow:0px 0px 5px 5px #55555542
}

.drag__bar::-moz-range-thumb {
  /* width: 45px;
  height: 45px; */
  border-radius: 50%;
  background: #03bc12;
  cursor: pointer;
  box-shadow:0px 0px 5px 5px #55555542;
}
/*********************************/

.text-center
.align-middle
.overflow-ellipsis {
  max-width: 8vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#avatarUser {
  object-fit: cover;
  object-position: center;
}

.listDetailNum {
  list-style: circle inside;
  margin: 0.4rem;
  text-align: start;
}

.listItemDetailNumber {
  margin-left: 0.4rem;
  color:#1b257b;
}

.disabled-card {
  pointer-events: none;
  opacity: 0.5; /* Para dar la apariencia de que está deshabilitado */
}

.custom-btn {
  width: 2.45rem;
  height: 2.45rem;
  border: none;
  border-radius: 50%; /* Hace el botón completamente circular */
  color: #ffffff; /* Color del texto */
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(145deg, #24248d, #6a6ade); /* Efecto de degradado */
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.3),
              5px 5px 15px rgba(0, 0, 0, 0.4),
              -5px -5px 15px rgba(255, 255, 255, 0.1); /* Sombras */
  transition: transform 0.3s ease, background-position 0.3s ease;
  background-size: 200%; /* Para dar espacio al efecto de hover */
  background-position: center;
}

/* Estilo hover */
.custom-btn:hover {
  transform: scale(1.05);
  background-position: 100% 100%; /* Simula el giro del degradado */
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3), -6px -6px 15px rgba(255, 255, 255, 0.6); /* Sombras al pasar el cursor */
}

/* Efecto cuando se presiona el botón */
.custom-btn:active {
  box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.3), inset -4px -4px 10px rgba(255, 255, 255, 0.6); /* Sombras internas al hacer clic */
  transform: scale(0.98); /* Hace el botón más pequeño al presionarlo */
}

.custom-btn-excel {
  width: 2.45rem;
  height: 2.45rem;
  border: none;
  border-radius: 50%; /* Hace el botón completamente circular */
  color: #ffffff; /* Color del texto */
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(145deg, #248d2e, #6ade6c); /* Efecto de degradado */
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.3),
              5px 5px 15px rgba(0, 0, 0, 0.4),
              -5px -5px 15px rgba(255, 255, 255, 0.1); /* Sombras */
  transition: transform 0.3s ease, background-position 0.3s ease;
  background-size: 200%; /* Para dar espacio al efecto de hover */
  background-position: center;
}

/* Estilo hover */
.custom-btn-excel:hover {
  background-position: 100% 100%; /* Simula el giro del degradado */
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3), -6px -6px 15px rgba(255, 255, 255, 0.6); /* Sombras al pasar el cursor */
  transform: scale(1.05); /* Agranda ligeramente el botón */
}

/* Efecto cuando se presiona el botón */
.custom-btn-excel:active {
  transform: scale(0.98); /* Achica el botón temporalmente */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
}

.custom2-btn {
  width: 2.45rem;
  height: 2.45rem;
  border: none;
  border-radius: 50%; /* Hace el botón completamente circular */
  color: #ffffff; /* Color del texto */
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(145deg, #1010c5, #4343dd); /* Efecto de degradado */
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.3),
              5px 5px 15px rgba(0, 0, 0, 0.4),
              -5px -5px 15px rgba(255, 255, 255, 0.1); /* Sombras */
  transition: transform 0.3s ease, background-position 0.3s ease;
  background-size: 200%; /* Para dar espacio al efecto de hover */
  background-position: center;
}

.custom2-btn-disable {
  width: 2.45rem;
  height: 2.45rem;
  border: none;
  border-radius: 50%; /* Hace el botón completamente circular */
  color: #ffffff; /* Color del texto */
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(145deg, #8b8b8b, #d2d2dc); /* Efecto de degradado */
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.3),
              5px 5px 15px rgba(0, 0, 0, 0.4),
              -5px -5px 15px rgba(255, 255, 255, 0.1); /* Sombras */
  transition: transform 0.3s ease, background-position 0.3s ease;
  background-size: 200%; /* Para dar espacio al efecto de hover */
  background-position: center;
}

/* Estilo hover */
.custom2-btn:hover {
  transform: scale(1.05);
  background-position: 100% 100%; /* Simula el giro del degradado */
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3), -6px -6px 15px rgba(255, 255, 255, 0.6); /* Sombras al pasar el cursor */
}

.dot-separator {
  font-size: 20px; /* Ajusta el tamaño del punto */
  line-height: 1; /* Asegura que el punto no tenga espacio extra */
  margin-bottom: 0.5rem; /* Ajusta el margen inferior del punto para alinearlo */
}

/* Estilo para la imagen seleccionada */
.selected-image {
  transform: scale(1.05);
  box-shadow: 0 0 15px #002affcf;
}

/* Estilo para la imagen seleccionada */
.selected-text {
  font-weight: bold;
}

/* Estilo inicial para las imágenes */
.option-image {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

  /* Contenedor principal */
  .range-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-left: 3rem;
    gap: 1rem;
    width: 30vw;
    height: 14vh;
    background-color: #0083bf50;
    border-radius: 15px;
}

/* Input range */
.form-range {
    appearance: none;
    -webkit-appearance: none;
    width: 75%;
    height: 6px;
    /* background: #ddd; */
    background: linear-gradient(to right, #007bff 0%, #007bff 0%, #ddd 0%);
    overflow: hidden;
    border-radius: 3px;
    outline: none;
    position: relative;
    z-index: 2;
}

/* Cambia el color de la barra pintada */
.form-range::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 4px;
    background: transparent;
}

.form-range::-moz-range-track {
background: transparent;
height: 4px;
}

.range-value {
    display: flex;
    flex-direction: row;
    width: 6vw;
}

.form-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #830000;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    position: relative;
    z-index: 3;
    border: none;
    transform: rotate(90deg); /* Inicialmente apuntando hacia la derecha */
    transition: transform 0.2s ease;
    cursor: pointer;
}

.form-range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #830000;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    border: none;
    transform: rotate(90deg); /* Inicialmente apuntando hacia la derecha */
    transition: transform 0.2s ease;
    cursor: pointer;
}

/* Ajusta el color de la barra en navegadores compatibles con WebKit */
.form-range::-webkit-slider-runnable-track:before {
    content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #005bbb var(--progress), #fafafa var(--progress));
    position: absolute;
    left: 0;
    top: 0;
}

/* Estilo del track en navegadores Firefox */
.form-range::-moz-range-track {
        background: transparent;
        height: 4px;
}

/* SVG para el círculo */
.circle-container {
    position: absolute;
    top: 0%;
    height: 14vh;
    left: 0; /* Ajustar al inicio del input range */
    pointer-events: none;
    z-index: 1;
}

.circle-container circle {
    fill: #005abb69;
    stroke: #005bbb;
    stroke-width: 4px; /* Cambiar aquí para ajustar el grosor del círculo */
    transform: translateY(12.5%);
}

.circle-container text {
    fill: #005bbb;
    font-size: 32px; /* Ajustar tamaño del símbolo "+" */
    font-weight: lighter; /*bold;*/
    dominant-baseline: middle;
    text-anchor: middle;
}

/*Rectangle*/
/* Contenedor principal */
.range_rect-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-left: 3rem;
  gap: 1rem;
  width: 30vw;
  height: 14vh;
  background-color: #3900bf50;
  border-radius: 15px;
}


/* SVG para el cuadrado */
.rect-container {
  position: absolute;
  top: 0%;
  height: 14vh;
  left: 0; /* Ajustar al inicio del input range */
  pointer-events: none;
  z-index: 1;
}

.rect-container rect {
  fill: #0009bb47;
  stroke: #0009bb;
  stroke-width: 4px; /* Cambiar aquí para ajustar el grosor del círculo */
  transform: translateY(12.5%);
}


/* ---------- Range Favorite --------------- */
/* Contenedor principal */
.range-container-favorite {
  position: relative;
  width: 100%;
  max-width: 400px; /* Ajusta según sea necesario */
  margin: 20px 0;
}

/* Estilos para los labels */
.label-left {
  position: absolute;
  left: 0;
  top: -20px; /* Ajusta la posición vertical */
  font-size: 14px;
  color: #666;
}

.label-right {
  position: absolute;
  right: 0;
  top: -20px; /* Ajusta la posición vertical */
  font-size: 14px;
  color: #666;
}

/* Escala numérica debajo del input */
.scale {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 12px;
  color: #666;
}

.form-range-favorite::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #000000;
  /* clip-path: polygon(50% 0%, 0% 100%, 100% 100%); */
  border: none;
  cursor: pointer;
}

/* Estilos personalizados para el input range */
.custom-range-favorite {
  -webkit-appearance: none; /* Elimina el estilo por defecto */
  appearance: none;
  width: 100%;
  height: 5px; /* Altura del track */
  margin-top: 20px;
  background: linear-gradient(to right, #FFD700 0%, #FFD700 var(--value, 20%), #ddd var(--value, 20%), #ddd 100%);
  outline: none;
  border-radius: 5px;
  transition: background 0.3s ease;
}

/* Thumb: Círculo negro con estrella dorada en el centro */
.custom-range-favorite::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  background: black; /* Círculo negro */
  border-radius: 50%; /* Forma circular */
  position: relative;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.custom-range-favorite::-moz-range-thumb {
  width: 24px;
  height: 24px;
  background: black; /* Círculo negro */
  border-radius: 50%; /* Forma circular */
  position: relative;
  cursor: pointer;
  transition: transform 0.2s ease;
}

/* Estrella dorada dentro del thumb */
.custom-range-favorite::-webkit-slider-thumb::before {
  content: "★";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #FFD700; /* Color dorado */
}

.custom-range-favorite::-moz-range-thumb::before {
  content: "★";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #FFD700; /* Color dorado */
}

/* Efecto hover en el thumb */
.custom-range-favorite::-webkit-slider-thumb:hover {
  transform: scale(1.1);
}

.custom-range-favorite::-moz-range-thumb:hover {
  transform: scale(1.1);
}

/* Estilo del track */
.custom-range-favorite::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px; /* Altura del track */
  background: linear-gradient(to right, #FFD700 0%, #FFD700 var(--value, 20%), #ddd var(--value, 20%), #ddd 100%);
  border-radius: 5px;
}

.custom-range-favorite::-moz-range-track {
  width: 100%;
  height: 5px; /* Altura del track */
  background: linear-gradient(to right, #FFD700 0%, #FFD700 var(--value, 20%), #ddd var(--value, 20%), #ddd 100%);
  border-radius: 5px;
}
/* ---------- End Range Favorite --------------- */

/* -- imagen codigo QR --*/
#qrConsumible {
  position: relative;
  border: 1px solid #ccc;
  max-width: 350px;
  height: 200px;
  padding: 10px;
  border-radius: 10px;
  background-color: #f9f9f9;
  color: #000;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  overflow: hidden;
  margin: 0 auto; /* Centra el contenedor si es necesario */
  visibility: hidden; /* Oculta el contenido pero reserva el espacio */
}

#qrConsumibleUpdate {
  position: relative;
  border: none;
  max-width: 350px;
  height: 200px;
  padding: 10px;
  color: #000;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  overflow: hidden;
  margin: 0 auto; /* Centra el contenedor si es necesario */
  visibility: visible;
}

/* Semitransparencia para el contenedor del QR */
#qrConsumibleUpdate.faded {
  opacity: 0.3;
  pointer-events: none; /* Deshabilitar interacciones mientras genera */
  transition: opacity 0.25s ease;
}

/* Semitransparencia para el contenedor del QR */
#qrConsumible.faded {
  opacity: 0.3;
  pointer-events: none; /* Deshabilitar interacciones mientras genera */
  transition: opacity 0.25s ease;
}

#qrContainer.visible {
  visibility: visible; /* Muestra el contenido */
}

#qrContainerUpdate.visible {
  visibility: visible;
}


@media (max-width: 768px) {
  #qrConsumible {
      max-width: 200px;
  }

  #qrConsumibleUpdate {
    max-width: 200px;
}
}

#qrImage {
  max-width: 200px;
  height: 200px;
  text-align: center;
  align-items: center;
  visibility: visible
}

#qrImageUpdated {
  max-width: 200px;
  height: 200px;
  text-align: center;
  align-items: center;
  visibility: visible
}

/* Loader Spinner */
.loader {
  position: absolute;
  top: 92.5%;
  left: 72.5%;
  transform: translate(-92.5%, -72.5%);
  z-index: 10; /* Asegúrate de que esté encima del QR */
  display: none; /* Se muestra solo cuando tiene la clase 'active' */
  width: 50px; /* Ajusta el tamaño según lo necesario */
  height: 50px;
  border: 4px solid #f3f3f3; /* Fondo del spinner */
  border-top: 4px solid #3498db; /* Color principal */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Loader activo */
#loader.active {
  display: block;
}

/* LoaderUpdate Spinner */
.loaderUpdate {
  position: absolute;
  top: 60%;
  left: 73%;
  transform: translate(-60%, -73%);
  z-index: 10; /* Asegúrate de que esté encima del QR */
  display: none; /* Se muestra solo cuando tiene la clase 'active' */
  width: 50px; /* Ajusta el tamaño según lo necesario */
  height: 50px;
  border: 4px solid #f3f3f3; /* Fondo del spinner */
  border-top: 4px solid #3498db; /* Color principal */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* LoaderUpdate activo */
#loaderUpdate.active {
  display: block;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.cardSelected {
  box-shadow: 0 0 15px #002affcf !important;
}

.row-highlight-stockCero {
  background-color:#20202040;
}

.row-highlight {
  background-color: #69dcff99;
}
.input-highlight-blue {
  border: 2px solid blue;
}
.input-highlight-red {
  border: 2px solid red;
}
.input-stock-zero {
  background-color: #ffcccc;
}


.common-style {
  display: inline-block;
  padding: 3px 7px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}

.epp {
  background-color: #fcdc3c;
  color: #000;
}

.consumibleajuste {
  background-color: #001ee3;
  color: #ffffff;
}

.consumiblemecanziado {
  background-color: #00031a;
  color: #ffffff;
}

.insertos {
  background-color: #5f5f5f;
  color: #ffffff;
}

.otros {
  background-color: #009a1f;
  color: #ffffff;
}

.img_consumibles {
  object-fit: scale-down !important;
}

.entregado {
  background-color: #067b00;
  color: #ffffff;
}

.noentregado {
  background-color: #b80000;
  color: #ffffff;
}

.preparado {
  background-color: #fcdc3c;
  color: #000;
}


.imgLazyLoad {
  width: 40%;
  height: 40%; /*auto*/
  transition: opacity 0.4s ease-in-out; /* Suaviza la aparición */
  opacity: 1;
  object-fit: contain;
}

.imgLazyLoad.loaded {
  width: 50%;
  height: 40%; /*auto*/
  opacity: 1;
  object-fit: contain;
}

.cartEmpty {
  box-shadow: 5px 0 10px #fff;
}

.cartEmpty:hover {
  box-shadow: -5px 0 10px #fff;
  scale: 1.05
}

/* Ajuste general del contenedor */
#mostrarItemsCarts {
  font-size: 1rem;
  color: #333;
}

/* Estilo para los list items */
.list-group-item {
  border: 1px solid #dee2e6;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Imagen del producto */
.img-fluid {
  max-height: 120px;
  object-fit: scale-down;
}

/* Botones personalizados */
.btn {
  font-size: 0.9rem;
}

/* Resumen de cantidad y fecha */
#total {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.5rem;
}

/* Botones finales */
#emptyCart .btn {
  font-size: 1rem;
  padding: 10px 15px;
  border-radius: 0.5rem;
}

/* Restablece la numeración de las listas ordenadas */
.numbered-list {
  counter-reset: list-counter; /* Inicializa el contador */
  padding-left: 0;
}

.numbered-list > li {
  list-style: none; /* Quita el estilo de lista predeterminado */
  position: relative;
  padding-left: 2em; /* Espacio para el número */
}

.numbered-list > li::before {
  content: counter(list-counter) "."; /* Agrega el número con formato */
  counter-increment: list-counter; /* Incrementa el contador */
  position: absolute;
  left: 0; /* Alinea el número a la izquierda */
  font-weight: bold;
  color: #1d1d1d; /* Cambia el color si es necesario */
}

/* Paginacion */
/* Animaciones */
.transition-out {
  animation: fadeOutSlide 0.5s forwards;
}

.transition-out.left {
  animation-name: fadeOutSlideLeft;
}

.transition-out.right {
  animation-name: fadeOutSlideRight;
}

.transition-in {
  animation: fadeInSlide 0.5s forwards;
}

@keyframes fadeOutSlide {
  from { opacity: 1; transform: translateX(0); }
  to { opacity: 0; transform: translateX(-50px); }
}

@keyframes fadeOutSlideLeft {
  to { opacity: 0; transform: translateX(-50px); }
}

@keyframes fadeOutSlideRight {
  to { opacity: 0; transform: translateX(50px); }
}

@keyframes fadeInSlide {
  from { opacity: 0; transform: translateX(50px); }
  to { opacity: 1; transform: translateX(0); }
}

/* Diseño de paginación */
.main-container-client, .main-container-consumibles {
  display: flex;
  flex-direction: column;
  min-height: calc(80vh - 150px); /* Ajusta según tu header/footer */
}

.cards-wrapper-client, .cards-wrapper-consumibles{
  flex: 1;
  position: relative;
  min-height: 490px; /* Altura mínima para contener 8 cards + paginación 800px */
}

.pagination-anchor {
  position: sticky;
  bottom: 10px;
  /* margin-top: auto; */
  margin: 0.2rem auto;
  padding: 5px 0;
  z-index: 50;
}

.fixed-card {
  height: 400px; /* Altura uniforme */
  width: 250px;
  display: flex;
  flex-direction: column;
}

.pagination-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  /* margin-top: 2rem; */
  margin: 0.5rem auto;
  padding: 0.5rem;
}

.pagination-btn {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pagination-btn:hover:not(.disabled) {
  background: #1d1d1d;
  color: white;
  transform: translateY(-2px);
}

.pagination-btn.active {
  background: #1d1d1d;
  color: white;
  border-color: #1d1d1d;
}

.pagination-btn.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination-ellipsis {
  padding: 8px 12px;
  user-select: none;
}
/* End paginacion */