<!doctype html>
<html lang="en">

<head>
    <%- include('../partials/head/head'); %>
</head>

<body>
    <header>    
        <%- include('../partials/header/headerLogin'); %>
    </header>
    
    <%- include('../partials/sections/sectionPassResetedOk'); %>
    
    <footer>
        <%- include('../partials/footer/footer'); %>
    </footer>    
</body>

</html>