<!doctype html>
<html lang="en">

<head>
    <%- include('../partials/head/head'); %>
</head>

<body>
    <%- include('../partials/header/headerLogin'); %>
    
    <%- include('../partials/sections/sectionEmailSentOk'); %>
    
    <footer>
        <%- include('../partials/footer/footer'); %>
    </footer>
    
</body>

</html>