<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head/head'); %>
</head>

<body>
    <%- include('../partials/header/headerLogin'); %>

        <div class="container" style="padding-top: 70px;"></div>
            <br>
            <section class="mx-auto" style="width: 94%;">
                <div class="row">
                    <div class="col-12 text-left">
                        <hr>
                        <h4 class="text-uppercase">Confirme Nuevo Password</h4>
                        <p>Departamento de IT Prodismo</p>
                        <hr>
                    </div>
                </div>
            </section>
            <br>
            <div class="container d-flex">
                <%- include('../partials/forms/formularioResetUserPassword', { userInformation }); %>
            </div>    
            <br>
            <footer>
                <%- include('../partials/footer/footer'); %>
            </footer>
            <!--    scripts     -->
            <script type="text/javascript" src="/js/eventoResetPassword.js"></script>
</body>

</html>