<section class="mx-auto align-items-start my-2" style="width: 94%;">
    <div class="row">
        <div class="col-12 my-1">
            <hr class="my-2">
            <h4 class="text-uppercase my-2">Aplicación de Seguimiento</h4>
            <p class="my-2">Departamento de IT Prodismo</p>
            <hr class="my-3">
        </div>
    </div>
</section>