<div class="row">
    <div class="col-6 mt-3 mb-5 mx-auto">
        <a href="/api/auth/login" style="text-decoration: none;">
            <div class="rounded-3 shadow-lg mx-auto">
                <div class="card-content">
                    <div class="card-body">
                        <div class="media d-flex mx-1">
                            <div class="media-body text-center m-3">
                                <h3 class="danger mb-3">Eyyy!!...<strong><%= userInfo.name %></strong>, te has desloggeado!</h3>
                                <h3 class="danger mb-3">Te extrañaremos <%= username %></h3>
                                <i class="fa-solid fa-computer-mouse fa-xl me-2"></i>
                                <span>Haz clic aquí para regresar al Login</span>
                            </div>
                            <div class="align-self-center me-5">
                                <i class="fa-regular fa-frown fa-4x" style="color: #24285b;" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>                
</div>