<section class="mx-auto align-items-start my-1" style="width: 94%;">
    <div class="row">
        <div class="col-12 text-left">
            <hr class="my-2">
            <h4 class="text-uppercase my-1">Programación Cad-Cam Mecanizado Proyectos Ganados</h4>
            <p class="my-1">Departamento IT Prodismo</p>
            <hr class="my-2">
        </div>
    </div>
</section>