<div class="dashboard-main-wrapper p-0">
    <div class="bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="error-section">
                        <img src="/src/images/correo_electronico_1.png" alt="Mail Enviado" class="img-fluid">
                        <div class="error-section-content">
                            <h1 class="display-3">Em@il enviado</h1>
                            <h5>El mail fue enviado con éxito. Por favor, revisa tu casilla de correo.</h5>
                            <p><i class="fa-solid fa-triangle-exclamation fa-beat fa-lg" style="color: #dbaa00;"></i>
                                El mail podría estar en tu carpeta de spam</p>
                            <a href="/api/auth/login" class="btn btn-primary mt-3"><i class="icon-home"></i> Volver al Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>