<div class="dashboard-main-wrapper p-0">
    <div class="bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="error-section">
                        <img src="../../../src/images/401_error-UserNotAuthorized.jpg" alt="error 498" class="img-fluid">
                        <div class="error-section-content">
                            <h1 class="display-3">Usuario No Valido</h1>
                            <h5>Lo siento, el usuario ingresado no es valido.</h5>
                            <a href="/api/auth/login" class="btn btn-danger mt-3">Volver al Login <i class="icon-login"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>