<div class="row row-cols-1 row-cols-md-3 g-4">

    <div class="card mx-auto shadow p-1 mt-4 mb-4 bg-body rounded w-auto table-responsive">
        <div id="loading-spinner" class="mt-2" style="display: none;">
            <%- include('../../partials/spinners/spinner_1'); %>
            <p>Cargando...</p>
        </div>

        <table id="ordenesTable" class="table-responsive table-hover align-middle" style="font-size: 10pt; display: none;">
            <caption id="capOrdersList"></caption>
            <thead class="border-bottom my-3">
                <tr>
                    <th style="width:4vw" scope="col-1" class="text-center">Seleccionar</th>
                    <th style="width:7vw" scope="col-1" class="text-center">Orden Id#</th>
                    <th style="width:8vw" scope="col-1" class="text-center">Cant. Productos</th>
                    <th style="width:8vw" scope="col-1" class="text-center">Cant. Items</th>
                    <th style="width:20vw" scope="col-1" class="text-center">Solicitud #</th>
                    <th style="width:14vw" scope="col-1" class="text-center">Solicitado por / Legajo </th>
                    <th style="width:11vw" scope="col-1" class="text-center">Fecha solicitud</th>
                    <th style="width:7vw" scope="col-1" class="text-center">Status</th>
                    <th style="width:11vw" scope="col-1" class="text-center">Fecha modificación</th>
                    <th style="width:10vw" scope="col-1" class="text-center">Acciones</th>
                </tr>
            </thead>
                    <tbody class="table-group-divider" id="mostrarOrdenes">
                    </tbody>
        </table>
    </div>

</div>