<div class="shadow-lg col-md-5 mx-auto my-2 w-50 border rounded p-3 text-white bg-opacity-50" style="background-color: #272787;">
    <form class="row align-items-center" id="searchFormSupplier" onsubmit="return searchSuppliers(this)">
        <div class="col-md-4">
            <label class="form-check-label ms-2 text-white" for="querySuppliers">Buscar</label>
            <input class="form-control" type="text" id="querySuppliers" name="querySuppliers" placeholder="Buscar Proveedor">
        </div>

        <div class="col-md-3 ms-2">
            <label class="form-check-label ms-2 text-white" for="statusSupplier">Status</label>
            <select class="form-select small" aria-label=".form-select" name="statusSupplier" id="statusSupplier" style="font-size: 13px;">
                <option selected value="todas">Todos</option>
                <option value="activos">Activos</option>
                <option value="inactivos">Incativos</option>
            </select>
        </div>

        <div class="col-md-2 ms-2">
            <label class="form-check-label ms-2 text-white" for="typeSupplier">Tipo</label>
            <select class="form-select small" aria-label=".form-select" name="typeSupplier" id="typeSupplier" style="font-size: 13px;">
                <option selected value="todas">Todos</option>
                <option value="diseno">Diseño</option>
                <option value="simulacion">Simulación</option>
                <option value="otras">Otras</option>
            </select>
        </div>

        <div class="col-md">
            <button class="btn rounded-circle bg-white me-2 text-dark" title="Buscar" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <button class="btn rounded-circle bg-white ms-2 text-dark" title="Eliminar filtros" type="reset">
                <i class="fa-solid fa-filter-circle-xmark"></i>
            </button>
        </div>
    </form>
</div>