<div class="form-group mx-auto my-2 w-50 border rounded p-3 text-white bg-opacity-75" style="background-color: #aaa7b3;">
    <h3 class="mx-auto my-2 text-center">Reset Nuevo Password</h3>
    
    <form action="/api/usuarios/resetNewUserPassword/<%= userInformation.id %>" method="post" id="newUserPasswordForm">
        <fieldset>
            <div class="row my-2 mx-auto">
                <div class="col-12 my-2">
                    <label for="password">Nuevo Password</label>
                    <input
                        type="password"
                        name="password"
                        id="password"
                        class="form-control"
                        placeholder="Password"
                        required>
                    <div id="messagePass"></div>
                </div>
                <div class="col-12 my-2">
                    <label for="confirmPassword">Confirmar Nuevo Password</label>
                    <input
                        type="password"
                        name="confirmPassword"
                        id="confirmPassword"
                        class="form-control"
                        placeholder="Confirmar Password"
                        disabled required>
                    <div id="messageConfirmPass"></div>
                </div>
            </div>   
            <br>  
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-primary mx-auto" id="btnAddNewUserPassword">Guardar Nuevo Password
                    <i class="fa-solid fa-unlock-keyhole"></i>
                </button>
                <button type="reset" id="btnResetFormNewUserPassword" class="btn btn-danger mx-auto">Reset
                    <i class="fa-solid fa-rotate-left"></i>
                </button>
            </div>
        </fieldset>
    </form>
</div>